#upload-section {
        .progress {
            height: 16px;
            color: azure;
            line-height: normal;
            text-align: center;
            
            .progress-bar {
                transition-duration:1000ms;
            }
        }
    }