@import url(https://fonts.googleapis.com/css?family=Raleway:300,400,600);.dropdown-menu-right {
  right: 0;
  left: auto;
}

#upload-section .progress {
  height: 16px;
  color: azure;
  line-height: normal;
  text-align: center;
}

#upload-section .progress .progress-bar {
  -webkit-transition-duration: 1000ms;
          transition-duration: 1000ms;
}

#music-section canvas {
  width: 100%l;
}

#music-section .d-inline-block {
  display: inline-block;
}

#music-section .music-play button,
#music-section .music-loop button,
#music-section .music-control .music-volume button {
  background: none;
  outline: 0;
  border: 0;
  vertical-align: middle;
}

#music-section .music-loop {
  margin-left: 0.7em;
}

#music-section .music-loop button {
  background: none;
  outline: 0;
  border: 0;
  border-radius: 50%;
  padding: 0.1em;
}

#music-section .music-loop button.active {
  color: #fff;
  background-color: teal;
}

#music-section .music-control .music-volume input[type=range] {
  width: auto;
  vertical-align: middle;
}

