#music-section {
    canvas {
        width:100%l
    }
    
    .d-inline-block {
        display: inline-block;
    }
    
    %button-none-background {
        background: none;
        outline: 0;
        border: 0;
        vertical-align: middle;
    }
    
    .music-play {
        button {
            @extend %button-none-background;
        }
    }
    
    .music-loop {
        margin-left: 0.7em;
        button {
            @extend %button-none-background;
            background: none;
            outline: 0;
            border: 0;
            border-radius: 50%;
            padding: 0.1em;
            
            &.active {
                color: #fff;
                background-color: teal;
            }
        }
    }
    
    .music-control {
        .music-volume {
            
            button {
                @extend %button-none-background;
            }
            
            input[type=range] {
                width:auto;
                vertical-align: middle;
            }
        }
    }
}